[Unit]
Description=Start up rosbridge
After=network.target
After=multi-user.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=simple
User=root
ExecStart= /home/ubuntu/code/ros2-pi-leds/scripts/rosbridge_start.sh

[Install]
WantedBy=multi-user.target