[Unit]
Description=Start up ros2-pi-leds

[Service]
Type=oneshot
ExecStart=/home/ubuntu/code/ros2-pi-leds/scripts/startup_script.sh
User=root
After=default.target

[Install]
WantedBy=multi-user.target